params {

    input = null
    ref_genome = null
    outdir = "results"

    fastqc_bin   = "/home/tanujzz/miniconda3/envs/nf_env/bin/fastqc"
    cutadapt_bin = "/home/tanujzz/miniconda3/envs/nf_env/bin/cutadapt"
    bwa_bin      = "/home/tanujzz/miniconda3/envs/nf_env/bin/bwa"
    samtools_bin = "/home/tanujzz/miniconda3/envs/nf_env/bin/samtools"
    bcftools_bin = "/home/tanujzz/miniconda3/envs/nf_env/bin/bcftools"
}

process {
    executor = 'local'
}
