params {

    input = "data/Sample.fastq"
    outdir = "results"

    fastqc_bin   = "/home/tanujzz/miniconda3/envs/nf_env/bin/fastqc"
    cutadapt_bin = "/home/tanujzz/miniconda3/envs/nf_env/bin/cutadapt"
    bwa_bin      = "/home/tanujzz/miniconda3/envs/nf_env/bin/bwa"
    samtools_bin = "/home/tanujzz/miniconda3/envs/nf_env/bin/samtools"
    bcftools_bin = "/home/tanujzz/miniconda3/envs/nf_env/bin/bcftools"

    ref_genome   = "/mnt/c/BNF_Pipeline/reference/reference.fa"
}

process {
    executor = 'local'
}
